*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;

  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

h1 {
  padding-top: 50px;
}

.inputs {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 15px;
}

select {
  padding: 10px;
}

select:hover {
  cursor: pointer;
}

.city {
  font-size: 32px;
}

.state {
  opacity: 0.5;
}
